<h3>All Pairs List/Index</h3>

<ol>
  <% @pairs.each do |p| %>
  <li><%= link_to "#{p.title} from #{p.requestor_user.email}", pair_path(p) %></li>
  <% end %>
</ol>

<h3>Open Pairs</h3>

<ol>
  <% @open_pairs.each do |p| %>
      <li><%= link_to "#{p.title} from #{p.requestor_user.email}", pair_path(p) %></li>
  <% end %>
</ol>
