<!-- <h3>Welcome to Find a Pair Home Page</h3>
<h5>The best way to find someone to pair program with</h5> -->

<main role="main" page="home">
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Never Program Alone</h1>
      <p class="lead">Stuck with something? Well, you are not alone anymore. On Find a Pair, you can request to pair with someone of help someone else work on their project</p>
      <hr class="my-4">
      <p>Looking for more elegant approach to feature? Wodnering how something works?</p>
      <!-- <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p> -->

      <button type="button" onclick="window.location.href = '/pairs/new';" class="btn btn-primary">Request a Pair</button>

      <button type="button" onclick="window.location.href = '/pairs';" class="btn btn-secondary">Browser Pairs Requests</button>

    </div>

  </div>

  <section class="newest">
    <h3>Newsest Pair Requests</h3>
    <div class="row">
      <div class="card col-md mx-2">
        <div class="card-body">
          <h4 class="card-title">Understanding Webpacker</h4>
          <h6 class="card-subtitle mb-2 text-muted">Henry</h6>
          <p class="card-text">Need some help understand Webpacker works with Rails.</p>
          <a href="#" class="card-link">Learn More</a>
          <a href="#" class="card-link">Pair With</a>
        </div>
      </div>

      <div class="card col-md mx-2">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card col-md mx-2">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
  </section>

</main>
