<h3>Welcome to Find a Pair Home Page</h3>
<h5>The best way to find someone to pair program with</h5>

<div class="jumbotron">
  <h1 class="display-3">Never Program Alone</h1>
  <p class="lead">Stuck with something? Well, you are not alone anymore. On Find a Pair, you can request to pair with someone of help someone else work on their project</p>
  <hr class="my-4">
  <p>Looking for more elegant approach to feature? Wodnering how something works?</p>
  <!-- <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->
  <button type="button" class="btn btn-primary">Request a Pair</button>
  <button type="button" class="btn btn-secondary">Browser Pairs Requests</button>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Secondary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Success card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
